gradio<4.0
python-dotenv
bs4
opencv-python

# for Azure
azure-cognitiveservices-speech

# for llm
openai
text_generation
huggingface_hub
langchain

# for llm tools
google-search-results
pypdf
sentence_transformers # embedding
chromadb

# for OCR
pytesseract
easyocr
Pillow<=10.0.0 # easyocr depends on Pillow 9.5.0

# for barcode and qr code
pyzbar

# stable diffusion
stability-sdk

# for prompts
datasets
